/*h1 element css*/
h1{
    text-align: center;
    color: #556b2f;
    text-transform: uppercase;
}
/*h2 element css*/
h2{
    background-color: #7cb06f;
    font-family: Papyrus, "Brush Script MT", Monaco;
}
/*p and ul elements css*/
p, ul{
    color: darkgreen;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
/*footer*/
footer {
    background-image: url("images/footerBackground.jpg")
}
/*grid*/
.title { grid-area: title; }
.cell2 { grid-area: cell2; }
.cell3 { grid-area: cell3; }
.chashakuImg { grid-area: chashakuImg; }
.chawanImg { grid-area: chawanImg; }
.chasenImg { grid-area: chasenImg; }
.chashaku { grid-area: chashaku; }
.chawan { grid-area: chawan; }
.chasen { grid-area: chasen; }
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'title title title'
        'chashakuImg chawanImg chasenImg'
        'chashaku chawan chasen';
    gap: 10px;
    max-width: 100%;
    height: auto;
    padding: 20px 0;
}
.wrapper > div {
    background-color: antiquewhite;
    text-align: center;
    color: darkgreen;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    padding: 10px;
}
.item2, .item3 { display: none; }