/*html default font*/
html {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: #003f00;
}
/*h1 element css*/
h1{
    text-align: center;
    color: #556b2f;
    text-transform: uppercase;
}
/*h2 element css*/
h2{
    background-color: #7cb06f;
    font-family: Papyrus, "Brush Script MT", Monaco;
}
/*p and ul elements css*/
/*commenting out from previous assignment to avoid redundancy
p, ul{
    color: darkgreen;
}*/
/*footer css*/
footer {
    background-image: url("images/footerBackground.jpg")
}
/*grid css*/
.title { grid-area: title; }
.cell2 { grid-area: cell2; }
.cell3 { grid-area: cell3; }
.chashakuImg { grid-area: chashakuImg; }
.chawanImg { grid-area: chawanImg; }
.chasenImg { grid-area: chasenImg; }
.chashaku { grid-area: chashaku; }
.chawan { grid-area: chawan; }
.chasen { grid-area: chasen; }
.wrapper {
    clear: both;
    width: 920px;
    height: 440px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        'title title title'
        'chashakuImg chawanImg chasenImg'
        'chashaku chawan chasen';
    background-color: #556b2f;
    padding: 10px;
    gap: 10px;
}
.wrapper > div {
    background-color: #fbffc9;
    text-align: center;
    font-size: 1.2rem;
}
.wrapper > .title {
    font-size: 2rem;
    padding: 10px;
}
.chashaku, .chawan, .chasen {
    padding: 10px;
}
.item2, .item3 { display: none; }
div > img { display: block; }
/*table css*/
.powderedTeasTable { 
    max-width: 80%;
    border-collapse: collapse;
    margin: 25px auto;
}
.powderedTeasTable td {
    border: 5px solid #556b2f;
    padding-left: 2px;
}
.powderedTeasTable th {
    border: 5px solid #556b2f;
    padding: 5px;
    font-size: 1.2rem;
}
td a:hover {
    color: #493418;
}
/*ol with nested ul css*/
.benefitsList {
    list-style-type: lower-roman;
}
.brainFunctionList {
    list-style-type: circle;
}
/*navbar css*/
nav.primary {
    width: 100%;
    background-color: #556b2f;
    font-size: 1.5rem;
}
.primary ul {
    display: flex;
    justify-content: right;
    align-items: center;
}
.primary li {
    display: block;
    list-style-type: none;
    padding: 8px 2px;
    width: 150px;
}
.primary a {
    color: #ffffff;
    text-decoration: none;
}
.primary a:hover {
    background-color: #7cb06f;
    color: #493418;
}
/*form css*/
form.quiz {
    width: 50%;
    border: 2px solid #493418;
    margin: 25px auto;
}