/*html default font*/
html {
    font-family: "Georgia", serif;
    font-size: 14px;
    color: #003f00;
}
/*body element css*/
body {
    background-color: #fbffc9;
}
/*h1 element css*/
h1{
    text-align: center;
    color: #556b2f;
    text-transform: uppercase;
}
/*h2 element css*/
h2{
    background-color: #7cb06f;
    font-family: Papyrus, "Brush Script MT", Monaco;
}
/*p and ul elements css*/
/*commenting out from previous assignment to avoid redundancy
p, ul{
    color: darkgreen;
}*/
/*footer css*/
footer {
    background-image: url("images/footerBackground.jpg")
}
footer a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 5px;
}
/*grid css*/
#title { grid-area: title; }
#cell2 { grid-area: cell2; }
#cell3 { grid-area: cell3; }
#chashaku-img { grid-area: chashakuImg; }
#chawan-img { grid-area: chawanImg; }
#chasen-img { grid-area: chasenImg; }
#chashaku { grid-area: chashaku; }
#chawan { grid-area: chawan; }
#chasen { grid-area: chasen; }
.wrapper {
    clear: both;
    width: 920px;
    height: 440px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        'title title title'
        'chashakuImg chawanImg chasenImg'
        'chashaku chawan chasen';
    background-color: #556b2f;
    padding: 10px;
    gap: 10px;
}
.grid-cell {
    background-color: #fbffc9;
    text-align: center;
    font-size: 1.2rem;
}
.wrapper > #title {
    font-size: 2rem;
    padding: 10px;
}
#chashaku, #chawan, #chasen {
    padding: 10px;
}
div > img { display: block; }
/*table css*/
.powdered-teas-table { 
    max-width: 80%;
    border-collapse: collapse;
    margin: 25px auto;
}
.powdered-teas-table td {
    border: 5px solid #556b2f;
    padding-left: 2px;
}
.powdered-teas-table th {
    border: 5px solid #556b2f;
    padding: 5px;
    font-size: 1.2rem;
}
td a:hover {
    color: #493418;
}
/*ol with nested ul css*/
.benefits-list {
    list-style-type: lower-roman;
}
.brain-function-list {
    list-style-type: circle;
}
/*navbar css*/
nav.primary {
    width: 100%;
    background-color: #556b2f;
    font-size: 1.5rem;
}
.primary ul {
    display: flex;
    justify-content: right;
    align-items: center;
}
.primary li {
    display: block;
    list-style-type: none;
    padding: 8px 2px;
    width: 150px;
}
.primary a {
    color: #ffffff;
    text-decoration: none;
}
.primary a:hover {
    background-color: #bbd095;
    color: #493418;
}
/*form css*/
form.quiz {
    width: 50%;
    border: 2px solid #493418;
    margin: 25px auto;
    padding: 5px 10px 10px 10px;
}
fieldset {
    width: 50%;
}
input[type=submit], input[type=reset] {
    background-color: #475828;
    color:#ffffff;
    padding: 2px;
    font-size: 1.2rem;
    font-family: "Georgia", serif;
    margin-right: 3px;
}
/*embedded media css*/
.media {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
}
/*dark mode css*/
.dark-mode {
    background-color: #003f00;
    color: #fbffc9;
}
.dark-mode-subject {
    background-color: #3d5e3a;
}
.dark-mode-link {
    color: #94e3ff;
}
.dark-mode-form {
    border: 2px solid #fbffc9;
}